.form{
    display: flex;
    flex-direction: column;
}
mat-card{
margin-top: 200px;
margin-left: 700px;
margin-right: 750px;
background-color: burlywood;
padding: 50px;

}
mat-card-subtittle{
    color: black;
}