.mat-toolbar{
    background-color: plum;
    display: flex;
    justify-content: space-between;
}
.flex{
    display: flex;
}
.justify-content-betwen{
    justify-content: space-between;
}
.m-auto{
    margin: auto;
}
